* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */


/* i container hanno una dimensione fissa,  centrati orizzontalmente */
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
}

.container-small {

    max-width: 800px;

    margin-left: auto;
    margin-right: auto;
}


header, section {
    padding: 40px 20px;
}


.bg-gray {
    background-color: #d3d3d3;
}




/* sezione navbar */
nav {
    background-size: 100%;
    padding: 10px ;
}

nav{
    background-image: url(../img/jumbo.png);
    height: 430px;
}

nav .container > * {
    padding: 10px;
}

nav .container {
    display: flex;
}

nav .logo {
    width: 100px;
}


nav .nav-links {
    flex-grow: 1;
}
nav .nav-links ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 20px;
}

.nav-links a{
    color: white;
    text-decoration: none;
}


nav .login {
    height: 34px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    align-self: center;

}
h2{
    display: block;
}
/* fine sezione navbar */



/* sezione hero */


#hero .container-small {
    /* height: 300px;
    test */
    
}


/* fine sezione hero */


/* sezioni grigie */
.row {
    display: flex;
}

.column-big {
    height: 400px;

    flex-grow: 1;
}

.column-small {
    font-size: 25px;
    height: 400px;
    /* test */

    width: 400px;
}

.column-small>p{
    padding-top: 20px;
}


.big-content {
    background-color: #228b22;
    height: 600px;
    /* test */
}
/* fine sezioni grigie */


/* sezione footer */

footer {
    background-color: #23272a;
    /* test */

    padding-top: 8px;
}


footer .container > * {
    border: dashed 2px white;
    /* test */
}


footer #footer-top {
    margin-bottom: 30px;
}

footer #footer-top .footer-links {
    background-color: #f08080;
    height: 500px;
    width: 250px;
    /* test */
}

footer #footer-top .footer-column {
    background-color: #20b2aa;
    /* test */
    
    flex-grow: 1;
}

footer #footer-bottom {
    background-color: #7fffd4;
    /* test */

    margin-top: 16px;
}

footer #footer-bottom {
    justify-content: space-between;

    padding: 16px 0;
}

footer #footer-bottom > * {
    background-color: #ffb6c1;
    /* test */

    padding: 4px 8px;
}

/* fine sezione footer */
